/* style for the visualization container */  
#infovis {  
    width:1600px;  
    height:1600px;  
    background-color:#222;  
}  
/* style for node labels */  
.node {  
    color: white;  
    background-color:transparent;  
    cursor:pointer;  
    font-weight:bold;  
    opacity:0.5;  
    font-size: xx-small;
}  
  
.node:hover {  
    cursor:pointer;  
    color: #222;  
    background-color:white;  
    font-weight:bold;  
    font-size: large;
    opacity:1.0;  
    z-index: 99; /* make sure hover label is on top */
}  
